# === ENTORNOS VIRTUALES ===
.venv/
venv/

# === VARIABLES DE ENTORNO ===
.env
.env.*
!.env.example

# === CACHÉS Y COMPILADOS DE PYTHON ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.db
*.sqlite3
*.log

# === MIGRACIONES (solo si gestionas manualmente) ===
**/migrations/*.py
!**/migrations/__init__.py

# === ARCHIVOS DE SISTEMA ===
.DS_Store
*.swp

# === EDITORES ===
.idea/
.vscode/

# === DJANGO ===
staticfiles/
media/

# === DOCKER ===
postgres_data/
*.pid
*.sock

# === TESTING / COVERAGE (si usas pytest + coverage) ===
htmlcov/
.coverage
.pytest_cache/

# === OTROS ARCHIVOS DE CONSTRUCCIÓN ===
build/
dist/
*.egg-info/

